

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ebf0f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row1{
  height:550px;

}
.card_title {
  height: 41px;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color:#0055a5;
}
.settings {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card_text_header {
  padding-top: 3%;
  font-size: 12px;  font-weight: 600;  font-style: normal;
   font-stretch: normal;line-height: normal; letter-spacing: 1px;
    color : #8a95a0;

}

.dashboard_link {
  color: #8a95a0;
  font-size:13px;
  text-decoration: none;
}

.milking_card_text{
  margin-left:-3%; 
                  font-size: 30px;  font-weight: 700;  font-style: normal;
                  font-stretch: normal; line-height: normal; letter-spacing: 1.5px;color :#0055a5
  }

  .overviewpie {
    height: 500px;
    width: 100%;
}